{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Shoperce {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />

    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!-- Button Back to top -->
    <div class="back-to-top">
      <span class="icon-angle-up"></span>
    </div>

    <!-- Topbar Navigation -->
    <div class="topbar-nav bg-light py-1">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-sm-5 col-md-3 small">
            <div class="fg-theme">
              <span class="icon-phone"></span> <span>Support: </span>
              <span class="text-secondary">(021) 091 932 334</span>
            </div>
          </div>
          <div class="col-sm-7 col-md-9 mt-2 mt-sm-0">
            <ul class="list-unstyled list-inline mb-0 text-md-right">
              <li class="list-inline-item d-none d-md-inline-block">
                <a href="#" class="small text-secondary">Store Location</a>
              </li>
              <li class="list-inline-item ml-2 d-none d-md-inline-block">
                <a href="#" class="small text-secondary">Track your order</a>
              </li>
                 {% if  request.user.is_authenticated %}
                   <li class="list-inline-item ml-2 d-none d-md-inline-block">
                    <a href="{% url 'logout' %}" class="small text-secondary">Logout</a>
                  </li>
                 {% endif %}
              <li class="list-inline-item ml-2">
                <select class="custom-select custom-select-sm">
                  <option value="us">Dollar (US)</option>
                  <option value="uk">Dollar (UK)</option>
                  <option value="au">Dollar (AU)</option>
                  <option value="eu">Euro</option>
                </select>
              </li>
              <li class="list-inline-item ml-2">
                <select class="custom-select custom-select-sm">
                  <option value="eng">English</option>
                  <option value="deu">Deutch</option>
                  <option value="ind">Indonesia</option>
                  <option value="esp">Espanyol</option>
                </select>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar Navigation -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
      <div class="container py-2">
        <a href="{% url 'home' %}" class="navbar-brand mb-2 mb-sm-0"
          ><span class="fg-theme">Shop</span>erce</a
        >
        <div class="navbar-collapse collapse" id="mobileNav">
          <ul class="navbar-nav">
            <li class="nav-item px-lg-2">
              {% if request.get_full_path == '/' %}
              <a href="{% url 'home' %}" class="nav-link active"
                ><div class="sr-only"><span class="icon-home2"></span></div>
                Home</a
              >
              {% else %}
              <a href="{% url 'home' %}" class="nav-link"
                ><div class="sr-only"><span class="icon-home2"></span></div>
                Home</a
              >
              {% endif %}
            </li>

            <li class="nav-item px-lg-2 dropdown-hover dropdown-custom">
            {% if request.get_full_path == '/products' %}
              <a
                href="{% url 'products' %}"
                class="nav-link active"
                ><div class="sr-only">
                  <span class="icon-format_list_bulleted"></span>
                </div>
                Products</a
              >
              {% else %}
             <a
                href="{% url 'products' %}"
                class="nav-link"
                ><div class="sr-only">
                  <span class="icon-format_list_bulleted"></span>
                </div>
                Products</a
              >
            {% endif %}
            </li>

            <li class="nav-item px-lg-2">
            {% if request.get_full_path == '/about' %}
              <a href="{% url 'about' %}" class="nav-link active"
                ><div class="sr-only"><span class="icon-domain"></span></div>
                About</a
              >
              {% else %}
               <a href="{% url 'about' %}" class="nav-link"
                ><div class="sr-only"><span class="icon-domain"></span></div>
                About</a
              >
              {% endif %}
            </li>

            {% if blogs.count > 0 %}
            <li class="nav-item px-lg-2 dropdown-hover">
             {% if request.get_full_path == '/blog' %}
              <a
                href="{% url 'blog' %}"
                class="nav-link active"
                ><div class="sr-only">
                  <span class="icon-icon-book"></span>
                </div>
                Blog</a
              >
              {% else %}
               <a
                href="{% url 'blog' %}"
                class="nav-link"
                ><div class="sr-only">
                  <span class="icon-icon-book"></span>
                </div>
                Blog</a
              >
              {% endif %}
            </li>
            {% endif %}


            <li class="nav-item px-lg-2">
             {% if request.get_full_path == '/contact' %}
              <a href="{% url 'contact' %}" class="nav-link active"
                ><div class="sr-only"><span class="icon-contacts"></span></div>
                Contact</a
              >
              {% else %}
               <a href="{% url 'contact' %}" class="nav-link"
                ><div class="sr-only"><span class="icon-contacts"></span></div>
                Contact</a
              >
              {% endif %}
            </li>
          </ul>
        </div>
        <div class="">
          <ul class="nav justify-content-end">
            <li class="nav-item px-1 d-none d-lg-block">
              <div
                class="btn btn-fab text-secondary"
                data-toggle="modal"
                data-target="#modalSearch"
              >
                <span class="icon icon-search"></span>
              </div>
            </li>
            </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item px-1 dropdown" id="account">
              <div class="btn dropdown-toggle-hover text-secondary">
                <span class="icon icon-user-circle-o"></span>
                <span class="d-none d-md-inline-block">My Account</span>
                <div class="dropdown-menu p-0 mt-0">
                  <div class="account-switch active">
                    <form class="card card-body border-0" action="" method="POST">
                    {% csrf_token %}
                      <h5 class="text-center border-bottom pb-3">Login</h5>

                      <div class="input-group floating-label my-2">
                        <input
                          type="text"
                          id="username"
                          name="username"
                          class="form-control"
                          required
                        />
                        <label
                          for="username"
                          class="floating-control-label"
                          >Username</label
                        >
                      </div>
                      <div class="input-group floating-label my-2">
                        <input
                          type="password"
                          id="password"
                          name="password"
                          class="form-control"
                          required
                        />
                        <label
                          for="password"
                          class="floating-control-label"
                          >Password</label
                        >
                      </div>
                      <div
                        class="input-group justify-content-between my-2 align-items-center"
                      >
                        
                        <a href="#" class="fs-small fg-theme"
                          >Forgot Password?</a
                        >
                      </div>
                      <button
                        type="submit"
                        name="Login"
                        class="btn btn-theme btn-block mb-1"
                      >
                        Login
                      </button>
                      <small class="text-center text-secondary"
                        >Don't have an account?
                        <a href="#" class="toggle-account-switch"
                          >Register</a
                        ></small
                      >
                    </form>
                    <div class="text-center pb-3">
                      <small class="d-block mb-2">Login With</small>
                      <div class="social-connect">
                        <a href="#" class="social-link bg-facebook fg-white"
                          ><span class="icon-facebook"></span
                        ></a>
                        <a href="#" class="social-link bg-google-plus fg-white"
                          ><span class="icon-google-plus"></span
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div class="account-switch">
                    <form class="card card-body border-0" method="POST" action>
                    {% csrf_token %}
                      <h5 class="text-center border-bottom pb-3">Register</h5>
                      <div class="input-group floating-label my-2">
                        <input
                          type="text"
                          id="fname"
                          class="form-control"
                          name="fname"
                          required
                        />
                        <label
                          for="fname"
                          class="floating-control-label"
                          >First name</label
                        >
                      </div>
                      <div class="input-group floating-label my-2">
                        <input
                          type="text"
                          id="lname"
                          class="form-control"
                          name="lname"
                          required
                        />
                        <label
                          for="lname"
                          class="floating-control-label"
                          >Last name</label
                        >
                      </div>
                      <div class="input-group floating-label my-2">
                        <input
                          type="text"
                          id="username"
                          class="form-control"
                          name="username"
                          required
                        />
                        <label
                          for="username"
                          class="floating-control-label"
                          >Username</label
                        >
                      </div>
                      <div class="input-group floating-label my-2">
                        <input
                          type="text"
                          id="emailRegister"
                          class="form-control"
                          name="email"
                          required
                        />
                        <label
                          for="emailRegister"
                          class="floating-control-label"
                          >Email</label
                        >
                      </div>
                      <div class="input-group floating-label my-2">
                        <input
                          type="password"
                          id="password1"
                          name="password1"
                          class="form-control"
                          required
                        />
                        <label
                          for="password1"
                          class="floating-control-label"
                          >Password</label
                        >
                      </div>
                      <div class="input-group floating-label my-2">
                        <input
                          type="password"
                          id="password2"
                          name="password2"
                          class="form-control"
                          required
                        />
                        <label
                          for="password2"
                          class="floating-control-label"
                          >Comfirm Password</label
                        >
                      </div>
                      <button
                        type="submit"
                        name="Registration"
                        class="btn btn-theme btn-block mb-1"
                      >
                        Create Account
                      </button>
                      <small class="text-center text-secondary"
                        >Already have account?
                        <a href="" class="toggle-account-switch"
                          >Login</a
                        ></small
                      >
                    </form>
                    <div class="text-center pb-3">
                      <small class="text-center divider">Sign Up With</small>
                      <div class="social-connect">
                        <a href="#" class="social-link bg-facebook fg-white"
                          ><span class="icon-facebook"></span
                        ></a>
                        <a href="#" class="social-link bg-google-plus fg-white"
                          ><span class="icon-google-plus"></span
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% endif %}
            <li class="nav-item px-1">
              <div
                class="btn btn-fab text-secondary"
                data-role="charm"
                data-target="#cartView"
              >
                <span class="icon icon-shopping-cart"></span>
                <div class="badge badge-theme">{{items.count}}</div>
              </div>
            </li>
            <li class="nav-item d-lg-none px-1">
              <div
                class="btn btn-fab text-secondary"
                data-role="charm"
                data-target="#mobileMenu"
              >
                <span class="icon icon-menu"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- Mobile Menu -->
    <div class="charm left" id="mobileMenu">
      <div class="charm-header">
        <p class="ml-3 mb-0 fs-large">Main Menu</p>
        <span class="btn-back" data-dismiss="charm">
          <span class="icon-arrow_forward fs-large"></span>
        </span>
      </div>
      <div class="charm-content">
        <form action="" method="GET" class="input-group my-2">
          {{filters.form.title}}
        </form>
        <div class="mobile-menu"></div>
      </div>
    </div>
    <!-- End mobile menu -->

    <!-- Cart -->
    <div class="charm right" id="cartView">
      <div class="charm-header bg-white fg-dark">
        <span class="btn-back" data-dismiss="charm">
          <span class="icon-arrow_back fs-large"></span>
        </span>
        <p class="ml-3 mb-0 fs-large">
          Your Cart
          <span class="badge bg-theme fg-white ml-2 fs-normal">{{items.count}}</span>
        </p>
      </div>
      <div class="charm-content">
        <ul class="product-cart-list">
        {% for item in items %}
          <li class="cart-item">
            <div class="img-place">
              <img src="{{item.item.thumbnail.url}}" alt="{{item.item.title}}" />
            </div>
            <div class="caption">
              <h5>{{item.item.title}}</h5>
              <div class="mb-0">
                Qty:
                <div class="d-inline-flex number-input number-input-sm">
                  <a href="{% url 'decrease' item.item.id %}" class="btn btn-theme btn-sm btn-decrease"><span class="icon-minus"></span></a>
                  <input type="number" class="form-control" name="number" value="{{item.quantity}}" min="1" max="250">
                  <a href="{% url 'addtocart' item.item.id %}" class="btn btn-theme btn-sm btn-increase"><span class="icon-plus"></span></a>
                </div>
              </div>
              <p class="mb-0">Price: <span class="fg-theme">GHC{{item.item.price}}</span></p>
            </div>
            <a href="{% url 'remove' item.item.id %}" class="btn btn-fab btn-sm">
              <span class="icon-trash-o"></span>
            </a>
          </li>
          {% empty %}
          <p> Your cart is empty </p>
          {% endfor %}
        
        </ul>

        <div class="product-cart-invoice">
          <h5 class="d-flex flex-row justify-content-between">
            <span>SubTotal :</span>
            <span class="text-right text-secondary">GHC{{totalPrice}}</span>
          </h5>

          <div class="text-center mt-4">
            <a href="{% url 'checkout' %}" class="btn btn-theme btn-block"
              >Proceed Checkout</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- End cart -->

    <!-- Modal Search -->
    <div
      class="modal"
      id="modalSearch"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="icon-close2"></span>
            </button>
            <form class="container my-3" method="GET" action="">

              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div class="input-group">
                    {{filters.form.title}}
                    <button type="submit" name="Search" class="btn btn-theme">Search</button>
                  </div>
                  <ul class="list-unstyled list-inline mt-2">
                    <li class="list-inline-item text-dark">Popular Search:</li>
                    <li class="list-inline-item">
                      <a href="#" class="text-secondary badge badge-light"
                        >Skinny Fit Pants</a
                      >
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="text-secondary badge badge-light"
                        >Cargo Joggers</a
                      >
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="text-secondary badge badge-light"
                        >Skinny Fit Blazer</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% for message in messages %}
      <div class="container">
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong></strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
      </div>
    {% endfor %}
    <!-- End modal search -->
    {% block content %} {% endblock content %}
    <!-- Footer -->
    <div class="site-footer">
      <div class="card-newsletter">
        <div class="row align-items-center">
          <div class="col-md-6 mt-2">
            <h4>Sign Up For Newsletter</h4>
            <p class="mb-0">Be the first to know. Sign Up Newsletter today</p>
          </div>
          <div class="col-md-6 mt-2">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter email..."
              />
              <button class="btn btn-primary">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3 mt-3">
            <ul class="list-unstyled">
              <li class="fs-large fg-white">Customer Services</li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Site Map</a></li>
              <li><a href="#">My Account</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-2 mt-3">
            <ul class="list-unstyled">
              <li class="fs-large fg-white">Information</li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Delivery Info</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Condition</a></li>
              <li><a href="#">Warranty</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
          <div class="col-sm-5 col-md-4 col-lg-2 mt-3">
            <ul class="list-unstyled">
              <li class="fs-large fg-white">Follow Us</li>
              <li>
                <a href="#"><span class="icon-facebook"></span> Facebook</a>
              </li>
              <li>
                <a href="#"><span class="icon-twitter"></span> Twitter</a>
              </li>
              <li>
                <a href="#"><span class="icon-instagram"></span> Instagram</a>
              </li>
              <li>
                <a href="#"><span class="icon-pinterest"></span> Pinterest</a>
              </li>
              <li>
                <a href="#"><span class="icon-youtube"></span> Youtube</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-7 col-md-8 col-lg-5 mt-3">
            <div class="fs-large fg-white">Get Apps</div>
            <a href="#" class="apps-download-container">
              <div class="row no-gutters fg-white align-items-center">
                <div class="col-4 text-center">
                  <span class="icon icon-apple"></span>
                </div>
                <div class="col-8">
                  <small>Download on the</small>
                  <p class="fg-white mb-0">Apps Store</p>
                </div>
              </div>
            </a>
            <a href="#" class="apps-download-container">
              <div class="row no-gutters fg-white align-items-center">
                <div class="col-4 text-center">
                  <span class="icon icon-android"></span>
                </div>
                <div class="col-8">
                  <small>Get it on</small>
                  <p class="fg-white mb-0">Google Play</p>
                </div>
              </div>
            </a>
            <br />
            <div class="fs-large fg-white mb-2 mt-3">Secure Payments</div>
            <div
              class="img-place auto-v justify-content-start"
              style="height: 30px"
            >
              <img src="{% static 'img/payment.png' %}" alt="Payments" height="30" />
            </div>
          </div>
        </div>

        <hr class="mt-5 mb-4" />
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item fs-small">
            <a href="#">Online Shopping</a>
          </li>
          <li class="list-inline-item fs-small"><a href="#">Promotions</a></li>
          <li class="list-inline-item fs-small"><a href="#">My Orders</a></li>
          <li class="list-inline-item fs-small"><a href="#">Help</a></li>
          <li class="list-inline-item fs-small">
            <a href="#">Customer Services</a>
          </li>
          <li class="list-inline-item fs-small"><a href="#">Discount</a></li>
          <li class="list-inline-item fs-small"><a href="#">Support</a></li>
          <li class="list-inline-item fs-small">
            <a href="#">Most Popular</a>
          </li>
          <li class="list-inline-item fs-small">
            <a href="#">New Arrivals</a>
          </li>
          <li class="list-inline-item fs-small">
            <a href="#">Special Products</a>
          </li>
          <li class="list-inline-item fs-small">
            <a href="#">Premium Products</a>
          </li>
          <li class="list-inline-item fs-small">
            <a href="#">Manufactures</a>
          </li>
          <li class="list-inline-item fs-small"><a href="#">Our Stories</a></li>
          <li class="list-inline-item fs-small"><a href="#">Shipping</a></li>
          <li class="list-inline-item fs-small"><a href="#">Payments</a></li>
          <li class="list-inline-item fs-small"><a href="#">Refunds</a></li>
          <li class="list-inline-item fs-small"><a href="#">Checkout</a></li>
          <li class="list-inline-item fs-small">
            <a href="#">Terms & Conditions</a>
          </li>
          <li class="list-inline-item fs-small"><a href="#">Policy</a></li>
          <li class="list-inline-item fs-small"><a href="#">Shopping</a></li>
          <li class="list-inline-item fs-small"><a href="#">Site Map</a></li>
          <li class="list-inline-item fs-small"><a href="#">FAQ</a></li>
        </ul>

        <p class="text-center fg-white">
          Copyright &copy; 2022 Shoperce. Designed and Developed by
          <a href="https://graygrids.com" rel="nofollow">GrayGrids</a>
        </p>
      </div>
    </div>
    <!-- End footer -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/stickyfill.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/google-maps.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/backend.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <script>

    {% if request.get_full_path == '/contact' %}
    const textArea = document.getElementById('id_message')
    textArea.className = 'form-control'
    {% endif %}

      const inputs = document.querySelectorAll('input')
      inputs.forEach(el => {
        el.className = 'form-control'
      })
    </script>
   

    <!-- <scrip async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></scrip> -->
  </body>
</html>
