{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}- blog detail{% endblock title %}
{% block content %}
<section class="site-section blog-page-single">
    <div class="container">
        <nav>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'blog' %}">Blog</a></li>
                <li class="breadcrumb-item active">The Best Blazer Collection in March</li>
            </ul>
        </nav>
      <div class="row">
        <div class="col-lg-8 blog-content mb-4 mb-lg-0">
            <div class="img-place">
                <img src="{% static 'img/campaign-men.jpg' %}" alt="">
            </div>
          <h3 class="mb-4">1. Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nihil aspernatur nemo sunt, qui, harum repudiandae quisquam eaque dolore itaque quod tenetur quo quos labore?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae expedita cumque necessitatibus ducimus debitis totam, quasi praesentium eveniet tempore possimus illo esse, facilis? Corrupti possimus quae ipsa pariatur cumque, accusantium tenetur voluptatibus incidunt reprehenderit, quidem repellat sapiente, id, earum obcaecati.</p>
    
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident vero tempora aliquam excepturi labore, ad soluta voluptate necessitatibus. Nulla error beatae, quam, facilis suscipit quaerat aperiam minima eveniet quis placeat.</p>
          </blockquote>
    
          <p>Eveniet deleniti accusantium nulla natus nobis nam asperiores ipsa minima laudantium vero cumque cupiditate ipsum ratione dicta, expedita quae, officiis provident harum nisi! Esse eligendi ab molestias, quod nostrum hic saepe repudiandae non. Suscipit reiciendis tempora ut, saepe temporibus nemo.</p>
          <h3 class="mb-4">2. Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
          <p>Accusamus, temporibus, ullam. Voluptate consectetur laborum totam sunt culpa repellat, dolore voluptas. Quaerat cum ducimus aut distinctio sit, facilis corporis ab vel alias, voluptas aliquam, expedita molestias quisquam sequi eligendi nobis ea error omnis consequatur iste deleniti illum, dolorum odit.</p>
          <p>In adipisci corporis at delectus! Cupiditate, voluptas, in architecto odit id error reprehenderit quam quibusdam excepturi distinctio dicta laborum deserunt qui labore dignissimos necessitatibus reiciendis tenetur corporis quas explicabo exercitationem suscipit. Nisi quo nulla, nihil harum obcaecati vel atque quos.</p>
          <p>Amet sint explicabo maxime accusantium qui dicta enim quia, nostrum id libero voluptates quae suscipit dolor quam tenetur dolores inventore illo laborum, corporis non ex, debitis quidem obcaecati! Praesentium maiores illo atque error! Earum, et, fugit. Sint, delectus molestiae. Totam.</p>
    

          {% comment %} <div class="mt-3">
              <p class="mb-0">Share:</p>
              <div class="social-connect">
                  <a href="#" class="social-link bg-facebook fg-white"><span class="icon-facebook"></span></a>
                  <a href="#" class="social-link bg-twitter fg-white"><span class="icon-twitter"></span></a>
                  <a href="#" class="social-link bg-google-plus fg-white"><span class="icon-google-plus"></span></a>
              </div>
          </div> {% endcomment %}
    
          {% comment %} <div class="pt-5">
            <h3 class="mb-5">6 Comments</h3>
            <ul class="comment-list">
              <li class="comment">
                <div class="vcard bio">
                  <img src="img/avatar_2.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>Jacob Smith</h3>
                  <div class="meta">January 9, 2022 at 2:21pm</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>
              </li>
    
              <li class="comment">
                <div class="vcard bio">
                  <img src="img/avatar_1.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>Chris Meyer</h3>
                  <div class="meta">January 9, 2022 at 2:21pm</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>
    
                <ul class="children">
                  <li class="comment">
                    <div class="vcard bio">
                      <img src="img/avatar_2.jpg" alt="Image placeholder">
                    </div>
                    <div class="comment-body">
                      <h3>Chintan Patel</h3>
                      <div class="meta">January 9, 2022 at 2:21pm</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                      <p><a href="#" class="reply">Reply</a></p>
                    </div>
    
                    <ul class="children">
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="img/avatar_1.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>Jean Doe</h3>
                          <div class="meta">January 9, 2022 at 2:21pm</div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                          <p><a href="#" class="reply">Reply</a></p>
                        </div>
    
                        <ul class="children">
                          <li class="comment">
                            <div class="vcard bio">
                              <img src="img/avatar_2.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                              <h3>Ben Afflick</h3>
                              <div class="meta">January 9, 2022 at 2:21pm</div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                              <p><a href="#" class="reply">Reply</a></p>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
    
              <li class="comment">
                <div class="vcard bio">
                  <img src="img/avatar_1.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>Jean Doe</h3>
                  <div class="meta">January 9, 2022 at 2:21pm</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>
              </li>
            </ul> <!-- END .comment-list -->
    
            <div class="comment-form-wrap pt-5">
              <h3 class="mb-5">Leave a comment</h3>
              <form action="#" class="">
                <div class="form-row form-group">
                  <div class="col-md-6">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="col-md-6">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="website">Website</label>
                  <input type="url" class="form-control" id="website">
                </div>
    
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="msg" id="message" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Post Comment" class="btn btn-theme">
                </div>
    
              </form>
            </div>
          </div> {% endcomment %}
        </div> <!-- End .blog-content -->

        <!-- Sidebar -->
        <div class="col-lg-4 sidebar">

            <div class="sidebar-box">
                <div class="sidebar-header">
                    <h4 class="fw-normal">Recent Post</h4>
                </div>
                <ul class="recent-post">
                    <li>
                        <div class="img-place">
                            <img src="img/image_1.jpg" alt="">
                        </div>
                        <div class="caption">
                            <a href="#">Top 10 Sweater in March</a>
                            <small class="d-block">21 March 2022</small>
                        </div>
                    </li>
                    <li>
                        <div class="img-place">
                            <img src="img/image_2.jpg" alt="">
                        </div>
                        <div class="caption">
                            <a href="#">Top 10 Sweater in March</a>
                            <small class="d-block">21 March 2022</small>
                        </div>
                    </li>
                    <li>
                        <div class="img-place">
                            <img src="img/image_3.jpg" alt="">
                        </div>
                        <div class="caption">
                            <a href="#">Top 10 Sweater in March</a>
                            <small class="d-block">21 March 2022</small>
                        </div>
                    </li>
                    <li>
                        <div class="img-place">
                            <img src="img/campaign-men.jpg" alt="">
                        </div>
                        <div class="caption">
                            <a href="#">Top 10 Sweater in March</a>
                            <small class="d-block">21 March 2022</small>
                        </div>
                    </li>
                    <li>
                        <div class="img-place">
                            <img src="img/family_campaign_kids.jpg" alt="">
                        </div>
                        <div class="caption">
                            <a href="#">Top 10 Sweater in March</a>
                            <small class="d-block">21 March 2022</small>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="sticky pt-2">
                <div class="sidebar-box">
                    <div class="sidebar-header">
                        <h4 class="fw-normal">Newsletter</h4>
                    </div>
                    <p>Subscribe to our newsletter for get special offer!</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your email">
                        <button type="submit" class="btn btn-theme"><span class="icon-send2"></span></button>
                    </div>
                </div>
            </div>
        </div> <!-- End sidebar -->
      </div>
    </div>
  </section> <!-- End .site-section -->
{% endblock content %}