{% extends 'base.html' %}
{% load static %}
{% block title %}- Blog{% endblock title %}
{% block content %}
<div class="site-section hero-page bg-image bg-image-parallax overlay-dark" style="background-image: url({% static 'img/campaign-men.jpg' %})">
    <div class="container">
        <div class="caption text-center fg-white">
            <h1>Blog</h1>
        </div>
    </div>
</div>

<div class="site-section blog-page">
    <div class="container">
        <div class="row mt-4">
        {% for i in loop  %}
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="blog-single.html"><img src="{% static 'img/image_1.jpg' %}" alt="" class="img-fluid rounded mb-4"></a>
                <h3 class="fw-normal"><a href="blog-single.html" class="text-dark">7 Factors for Choosing Between Two Jobs</a></h3>
                <div class="text-secondary">April 15, 2019 <span class="mx-2">|</span> <a href="#">2 Comments</a></div>
            </div>
        {% endfor %}
        </div>

        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item active">
                    <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">4</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock content %}