<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Shoperce &mdash; E-commerce Template</title>

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<!-- Button Back to top -->
<div class="back-to-top">
    <span class="icon-angle-up"></span>
</div>

<!-- Topbar Navigation -->
<div class="topbar-nav bg-light py-1">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-5 col-md-3 small">
                <div class="fg-theme"><span class="icon-phone"></span> <span>Support: </span> <span class="text-secondary">(021) 091 932 334</span></div>
            </div>
            <div class="col-sm-7 col-md-9 mt-2 mt-sm-0">
                <ul class="list-unstyled list-inline mb-0 text-md-right">
                    <li class="list-inline-item d-none d-md-inline-block">
                        <a href="#" class="small text-secondary">Store Location</a>
                    </li>
                    <li class="list-inline-item ml-2 d-none d-md-inline-block">
                        <a href="#" class="small text-secondary">Track your order</a>
                    </li>
                    <li class="list-inline-item ml-2">
                        <select class="custom-select custom-select-sm">
                            <option value="us">Dollar (US)</option>
                            <option value="uk">Dollar (UK)</option>
                            <option value="au">Dollar (AU)</option>
                            <option value="eu">Euro</option>
                        </select>
                    </li>
                    <li class="list-inline-item ml-2">
                        <select class="custom-select custom-select-sm">
                            <option value="eng">English</option>
                            <option value="deu">Deutch</option>
                            <option value="ind">Indonesia</option>
                            <option value="esp">Espanyol</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- Topbar Navigation -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container py-2">
        <a href="index.html" class="navbar-brand mb-2 mb-sm-0"><span class="fg-theme">Shop</span>erce</a>
        <div class="navbar-collapse collapse" id="mobileNav">
            <ul class="navbar-nav">
                <li class="nav-item px-lg-2">
                    <a href="index.html" class="nav-link"><div class="sr-only"><span class="icon-home2"></span></div> Home</a>
                </li>
                <li class="nav-item px-lg-2 dropdown-hover dropdown-custom">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle-hover"><div class="sr-only"><span class="icon-format_list_bulleted"></span></div> Category</a>
                    <div class="dropdown-menu">
                        <div class="container py-2">
                            <div class="row px-md-4">
                                <div class="col-lg-3 my-2">
                                    <ul class="list-unstyled">
                                        <li class="lead fg-theme">Mens</li>
                                        <li><a href="product.html" class="text-secondary">Mens #1</a></li>
                                        <li><a href="product.html" class="text-secondary">Mens #2</a></li>
                                        <li><a href="product.html" class="text-secondary">Mens #3</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 my-2">
                                    <ul class="list-unstyled">
                                        <li class="lead fg-theme">Womens</li>
                                        <li><a href="product.html" class="text-secondary">Womens #1</a></li>
                                        <li><a href="product.html" class="text-secondary">Womens #2</a></li>
                                        <li><a href="product.html" class="text-secondary">Womens #3</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 my-2">
                                    <ul class="list-unstyled">
                                        <li class="lead fg-theme">Divided</li>
                                        <li><a href="product.html" class="text-secondary">Divided #1</a></li>
                                        <li><a href="product.html" class="text-secondary">Divided #2</a></li>
                                        <li><a href="product.html" class="text-secondary">Divided #3</a></li>
                                        <li><a href="product.html" class="text-secondary">Divided #4</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 my-2">
                                    <ul class="list-unstyled">
                                        <li class="lead fg-theme">Kids</li>
                                        <li><a href="product.html" class="text-secondary">Kids #1</a></li>
                                        <li><a href="product.html" class="text-secondary">Kids #2</a></li>
                                        <li><a href="product.html" class="text-secondary">Kids #3</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 my-2">
                                    <ul class="list-unstyled">
                                        <li class="lead fg-theme">Moslem</li>
                                        <li><a href="product.html" class="text-secondary">Moslem #1</a></li>
                                        <li><a href="product.html" class="text-secondary">Moslem #2</a></li>
                                        <li><a href="product.html" class="text-secondary">Moslem #3</a></li>
                                        <li><a href="product.html" class="text-secondary">Moslem #4</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 my-2">
                                    <ul class="list-unstyled">
                                        <li class="lead fg-theme">Accessories</li>
                                        <li><a href="product.html" class="text-secondary">Accessories #1</a></li>
                                        <li><a href="product.html" class="text-secondary">Accessories #2</a></li>
                                        <li><a href="product.html" class="text-secondary">Accessories #3</a></li>
                                        <li><a href="product.html" class="text-secondary">Accessories #4</a></li>
                                        <li><a href="product.html" class="text-secondary">Accessories #5</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item px-lg-2">
                    <a href="about.html" class="nav-link"><div class="sr-only"><span class="icon-domain"></span></div> About</a>
                </li>
                <li class="nav-item px-lg-2 dropdown-hover">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle-hover mb-0 active"><div class="sr-only"><span class="icon-format_list_bulleted"></span></div> Pages</a>
                    <div class="dropdown-menu">
                        <a href="product.html" class="dropdown-item">Product</a>
                        <a href="product-details.html" class="dropdown-item">Product Details</a>
                        <a href="blog.html" class="dropdown-item">Blog</a>
                        <a href="blog-details.html" class="dropdown-item">Blog Details</a>
                        <a href="checkout.html" class="dropdown-item active">Checkout</a>
                    </div>
                </li>
                <li class="nav-item px-lg-2">
                    <a href="contact.html" class="nav-link"><div class="sr-only"><span class="icon-contacts"></span></div> Contact</a>
                </li>
            </ul>
        </div>
        <div class="">
            <ul class="nav justify-content-end">
                <li class="nav-item px-1 d-none d-lg-block">
                    <div class="btn btn-fab text-secondary" data-toggle="modal" data-target="#modalSearch">
                        <span class="icon icon-search"></span>
                    </div>
                </li>
                <li class="nav-item px-1 dropdown" id="account">
                    <div class="btn dropdown-toggle-hover text-secondary">
                        <span class="icon icon-user-circle-o"></span>
                        <span class="d-none d-md-inline-block">My Account</span>
                        <div class="dropdown-menu p-0 mt-0">
                            <div class="account-switch active">
                                <form class="card card-body border-0">
                                    <h5 class="text-center border-bottom pb-3">Login</h5>

                                    <div class="input-group floating-label my-2">
                                        <input type="text" id="usernameLogin" class="form-control" required>
                                        <label for="usernameLogin" class="floating-control-label">Username</label>
                                    </div>
                                    <div class="input-group floating-label my-2">
                                        <input type="password" id="passwordLogin" class="form-control" required>
                                        <label for="passwordLogin" class="floating-control-label">Password</label>
                                    </div>
                                    <div class="input-group justify-content-between my-2 align-items-center">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="remember">
                                            <label for="remember" class="custom-control-label">Remember Me</label>
                                        </div>
                                        <a href="#" class="fs-small fg-theme">Forgot Password?</a>
                                    </div>
                                    <button type="submit" class="btn btn-theme btn-block mb-1">Login</button>
                                    <small class="text-center text-secondary">Don't have an account? <a href="#" class="toggle-account-switch">Register</a></small>
                                </form>
                                <div class="text-center pb-3">
                                    <small class="d-block mb-2">Login With</small>
                                    <div class="social-connect">
                                        <a href="#" class="social-link bg-facebook fg-white"><span class="icon-facebook"></span></a>
                                        <a href="#" class="social-link bg-twitter fg-white"><span class="icon-twitter"></span></a>
                                        <a href="#" class="social-link bg-google-plus fg-white"><span class="icon-google-plus"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="account-switch">
                                <form class="card card-body border-0">
                                    <h5 class="text-center border-bottom pb-3">Register</h5>
                                    <div class="input-group floating-label my-2">
                                        <input type="text" id="fullnameRegister" class="form-control" required>
                                        <label for="fullnameRegister" class="floating-control-label">Fullname</label>
                                    </div>
                                    <div class="input-group floating-label my-2">
                                        <input type="text" id="emailRegister" class="form-control" required>
                                        <label for="emailRegister" class="floating-control-label">Email</label>
                                    </div>
                                    <div class="input-group floating-label my-2">
                                        <input type="text" id="passwordRegister" class="form-control" required>
                                        <label for="passwordRegister" class="floating-control-label">Password</label>
                                    </div>
                                    <div class="input-group floating-label my-2">
                                        <input type="text" id="confirPasswordRegister" class="form-control" required>
                                        <label for="confirPasswordRegister" class="floating-control-label">Confirm Password</label>
                                    </div>
                                    <button type="submit" class="btn btn-theme btn-block mb-1">Create Account</button>
                                    <small class="text-center text-secondary">Already have account? <a href="#" class="toggle-account-switch">Register</a></small>
                                </form>
                                <div class="text-center pb-3">
                                    <small class="text-center divider">Sign Up With</small>
                                    <div class="social-connect">
                                        <a href="#" class="social-link bg-facebook fg-white"><span class="icon-facebook"></span></a>
                                        <a href="#" class="social-link bg-twitter fg-white"><span class="icon-twitter"></span></a>
                                        <a href="#" class="social-link bg-google-plus fg-white"><span class="icon-google-plus"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item px-1">
                    <div class="btn btn-fab text-secondary" data-role="charm" data-target="#cartView">
                        <span class="icon icon-shopping-cart"></span>
                        <div class="badge badge-theme">2</div>
                    </div>
                </li>
                <li class="nav-item d-lg-none px-1">
                    <div class="btn btn-fab text-secondary" data-role="charm" data-target="#mobileMenu">
                        <span class="icon icon-menu"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav> <!-- End Navbar -->

<!-- Mobile Menu -->
<div class="charm left" id="mobileMenu">
    <div class="charm-header">
        <p class="ml-3 mb-0 fs-large">Main Menu</p>
        <span class="btn-back" data-dismiss="charm">
            <span class="icon-arrow_forward fs-large"></span>
        </span>
    </div>
    <div class="charm-content">
        <div class="input-group my-2">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <div class="mobile-menu">

        </div>
    </div>
</div> <!-- End mobile menu -->

<!-- Cart -->
<div class="charm right" id="cartView">
    <div class="charm-header bg-white fg-dark">
        <span class="btn-back" data-dismiss="charm">
            <span class="icon-arrow_back fs-large"></span>
        </span>
        <p class="ml-3 mb-0 fs-large">Your Cart <span class="badge bg-theme fg-white ml-2 fs-normal">6</span></p>
    </div>
    <div class="charm-content">
        <ul class="product-cart-list">
            <li class="cart-item">
                <div class="img-place">
                    <img src="img/Super_Slim-fit_Pants.jpg" alt="">
                </div>
                <div class="caption">
                    <h5>Product Name</h5>
                    <div class="mb-0">Qty:
                        <div class="d-inline-flex number-input number-input-sm">
                            <button class="btn btn-theme btn-sm btn-decrease"><span class="icon-minus"></span></button>
                            <input type="number" class="form-control" name="number" value="4" min="0" max="250">
                            <button class="btn btn-theme btn-sm btn-increase"><span class="icon-plus"></span></button>
                        </div>
                    </div>
                    <p class="mb-0">Price: <span class="fg-theme">$19.99</span></p>
                </div>
                <button class="btn btn-fab btn-sm"><span class="icon-trash-o"></span></button>
            </li>
            <li class="cart-item">
                <div class="img-place">
                    <img src="img/Faux_Fur_Jacket.jpg" alt="">
                </div>
                <div class="caption">
                    <h5>Product Name</h5>
                    <div class="mb-0">Qty:
                        <div class="d-inline-flex number-input number-input-sm">
                            <button class="btn btn-theme btn-sm btn-decrease"><span class="icon-minus"></span></button>
                            <input type="number" class="form-control" name="number" value="2" min="0" max="250">
                            <button class="btn btn-theme btn-sm btn-increase"><span class="icon-plus"></span></button>
                        </div>
                    </div>
                    <p class="mb-0">Price: <span class="fg-theme">$19.99</span></p>
                </div>
                <button class="btn btn-fab btn-sm"><span class="icon-trash-o"></span></button>
            </li>
        </ul>

        <div class="product-cart-invoice">
            <h5 class="d-flex flex-row justify-content-between">
                <span>SubTotal :</span>
                <span class="text-right text-secondary">$39.91</span>
            </h5>

            <div class="text-center mt-4">
                <a href="checkout.html" class="btn btn-theme btn-block">Proceed Checkout</a>
            </div>
        </div>
    </div>
</div> <!-- End cart -->

<!-- Modal Search -->
<div class="modal" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="icon-close2"></span>
                </button>
                <form class="container my-3">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search here...">
                                <button type="submit" class="btn btn-theme">Search</button>
                            </div>
                            <ul class="list-unstyled list-inline mt-2">
                                <li class="list-inline-item text-dark">Popular Search: </li>
                                <li class="list-inline-item"><a href="#" class="text-secondary badge badge-light">Skinny Fit Pants</a></li>
                                <li class="list-inline-item"><a href="#" class="text-secondary badge badge-light">Cargo Joggers</a></li>
                                <li class="list-inline-item"><a href="#" class="text-secondary badge badge-light">Skinny Fit Blazer</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!-- End modal search -->

<div class="site-section py-5">
    <div class="container">
        <h2 class="text-center">Checkout & Payments</h2>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6 px-lg-5">
                <h5 class="text-secondary">Shipping Details</h5>
                <hr>
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="input-group floating-label my-2">
                            <input type="number" id="contactPayment" class="form-control" required>
                            <label for="contactPayment" class="floating-control-label">Phone Number</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group floating-label my-2">
                            <input type="text" id="emailPayment" class="form-control" required>
                            <label for="emailPayment" class="floating-control-label">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group floating-label my-2">
                            <textarea id="address" class="form-control" required rows="8"></textarea>
                            <label for="address" class="floating-control-label">Address</label>
                        </div>
                    </div>
                </div>

                <h5 class="text-secondary">Payment Details</h5>
                <hr>

                <div class="row mb-5">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group floating-label my-2">
                                <input type="text" id="namePayment" class="form-control" value="Mikhail Abdillah" required>
                                <label for="namePayment" class="floating-control-label">Name on Card</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group floating-label my-2">
                            <input type="number" id="cardNumberPayment" class="form-control" required>
                            <label for="cardNumberPayment" class="floating-control-label">Card Number</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-6 px-2">
                                <div class="input-group floating-label my-2">
                                    <input type="number" id="expPayment" class="form-control" required>
                                    <label for="expPayment" class="floating-control-label">Expire Date</label>
                                </div>
                            </div>
                            <div class="col-6 px-2">
                                <div class="input-group floating-label my-2">
                                    <input type="number" id="CVVPayment" class="form-control" required>
                                    <label for="CVVPayment" class="floating-control-label">CVV Code</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 px-lg-5">
                <h5 class="text-secondary">Your Orders</h5>
                <ul class="product-cart-list">
                    <li class="cart-item">
                        <div class="img-place">
                            <img src="img/Super_Slim-fit_Pants.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h5>Product Name</h5>
                            <div class="mb-0">Qty:
                                <div class="d-inline-flex number-input number-input-sm">
                                    <button class="btn btn-theme btn-sm btn-decrease"><span class="icon-minus"></span></button>
                                    <input type="number" class="form-control" name="number" value="4" min="0" max="250">
                                    <button class="btn btn-theme btn-sm btn-increase"><span class="icon-plus"></span></button>
                                </div>
                            </div>
                            <p class="mb-0">Price: <span class="fg-theme">$19.99</span></p>
                        </div>
                        <button class="btn btn-fab btn-sm"><span class="icon-trash-o"></span></button>
                    </li>
                    <li class="cart-item">
                        <div class="img-place">
                            <img src="img/Faux_Fur_Jacket.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h5>Product Name</h5>
                            <div class="mb-0">Qty:
                                <div class="d-inline-flex number-input number-input-sm">
                                    <button class="btn btn-theme btn-sm btn-decrease"><span class="icon-minus"></span></button>
                                    <input type="number" class="form-control" name="number" value="2" min="0" max="250">
                                    <button class="btn btn-theme btn-sm btn-increase"><span class="icon-plus"></span></button>
                                </div>
                            </div>
                            <p class="mb-0">Price: <span class="fg-theme">$19.99</span></p>
                        </div>
                        <button class="btn btn-fab btn-sm"><span class="icon-trash-o"></span></button>
                    </li>
                </ul>

                <div class="py-2 mb-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Coupon Code">
                        <button class="btn btn-theme">Apply</button>
                    </div>
                </div>
        
                <div class="product-cart-invoice">
                    <h6 class="d-flex flex-row justify-content-between">
                        <span>SubTotal </span>
                        <span class="text-right text-secondary">$39.91</span>
                    </h6>
                    <h6 class="d-flex flex-row justify-content-between">
                        <span>Shipping </span>
                        <span class="text-right text-secondary">$3.99</span>
                    </h6>
                    <h5 class="d-flex flex-row justify-content-between mt-3">
                        <span>Total </span>
                        <span class="text-right text-secondary">$43.8</span>
                    </h5>
                </div>
            </div>
        </div>

        <div class="text-center mt-5">
            <button class="btn btn-theme"><span class="icon-next_week"></span> Confirm & Pay</button>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="site-footer">
    <div class="card-newsletter">
        <div class="row align-items-center">
            <div class="col-md-6 mt-2">
                <h4>Sign Up For Newsletter</h4>
                <p class="mb-0">Be the first to know. Sign Up Newsletter today</p>
            </div>
            <div class="col-md-6 mt-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter email...">
                    <button class="btn btn-primary">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-lg-3 mt-3">
                <ul class="list-unstyled">
                    <li class="fs-large fg-white">Customer Services</li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">My Account</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-2 mt-3">
                <ul class="list-unstyled">
                    <li class="fs-large fg-white">Information</li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Delivery Info</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Warranty</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-2 mt-3">
                <ul class="list-unstyled">
                    <li class="fs-large fg-white">Follow Us</li>
                    <li><a href="#"><span class="icon-facebook"></span> Facebook</a></li>
                    <li><a href="#"><span class="icon-twitter"></span> Twitter</a></li>
                    <li><a href="#"><span class="icon-instagram"></span> Instagram</a></li>
                    <li><a href="#"><span class="icon-pinterest"></span> Pinterest</a></li>
                    <li><a href="#"><span class="icon-youtube"></span> Youtube</a></li>
                </ul>
            </div>
            <div class="col-sm-7 col-md-8 col-lg-5 mt-3">
                <div class="fs-large fg-white">Get Apps</div>
                <a href="#" class="apps-download-container">
                    <div class="row no-gutters fg-white align-items-center">
                        <div class="col-4 text-center">
                            <span class="icon icon-apple"></span>
                        </div>
                        <div class="col-8">
                            <small>Download on the</small>
                            <p class="fg-white mb-0">Apps Store</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="apps-download-container">
                    <div class="row no-gutters fg-white align-items-center">
                        <div class="col-4 text-center">
                            <span class="icon icon-android"></span>
                        </div>
                        <div class="col-8">
                            <small>Get it on</small>
                            <p class="fg-white mb-0">Google Play</p>
                        </div>
                    </div>
                </a>
                <br>
                <div class="fs-large fg-white mb-2 mt-3">Secure Payments</div>
                <div class="img-place auto-v justify-content-start" style="height: 30px">
                    <img src="img/payment.png" alt="Payments" height="30">
                </div>
            </div>
        </div>

        <hr class="mt-5 mb-4">
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item fs-small"><a href="#">Online Shopping</a></li>
            <li class="list-inline-item fs-small"><a href="#">Promotions</a></li>
            <li class="list-inline-item fs-small"><a href="#">My Orders</a></li>
            <li class="list-inline-item fs-small"><a href="#">Help</a></li>
            <li class="list-inline-item fs-small"><a href="#">Customer Services</a></li>
            <li class="list-inline-item fs-small"><a href="#">Discount</a></li>
            <li class="list-inline-item fs-small"><a href="#">Support</a></li>
            <li class="list-inline-item fs-small"><a href="#">Most Popular</a></li>
            <li class="list-inline-item fs-small"><a href="#">New Arrivals</a></li>
            <li class="list-inline-item fs-small"><a href="#">Special Products</a></li>
            <li class="list-inline-item fs-small"><a href="#">Premium Products</a></li>
            <li class="list-inline-item fs-small"><a href="#">Manufactures</a></li>
            <li class="list-inline-item fs-small"><a href="#">Our Stories</a></li>
            <li class="list-inline-item fs-small"><a href="#">Shipping</a></li>
            <li class="list-inline-item fs-small"><a href="#">Payments</a></li>
            <li class="list-inline-item fs-small"><a href="#">Refunds</a></li>
            <li class="list-inline-item fs-small"><a href="#">Checkout</a></li>
            <li class="list-inline-item fs-small"><a href="#">Terms & Conditions</a></li>
            <li class="list-inline-item fs-small"><a href="#">Policy</a></li>
            <li class="list-inline-item fs-small"><a href="#">Shopping</a></li>
            <li class="list-inline-item fs-small"><a href="#">Site Map</a></li>
            <li class="list-inline-item fs-small"><a href="#">FAQ</a></li>
        </ul>

        <p class="text-center fg-white">Copyright &copy; 2022 Shoperce. Designed and Developed by <a href="https://graygrids.com" rel="nofollow">GrayGrids</a></p>
    </div>
</div> <!-- End footer -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/stickyfill.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/google-maps.js"></script>
<script src="js/script.js"></script>

<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script> -->

</body>
</html>