{% extends 'base.html' %} {% load static %} 
{% static "img" as baseUrl %} 
{% block title %}- Products{% endblock title %} {% block content %}
<!-- Modal Filter Product -->
<div
  class="modal fade"
  id="filterProduct"
  tabindex="-1"
  role="dialog"
  aria-labelledby="productLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn btn-secondary btn-block" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End modal filter product -->

<div class="site-section py-5">
  <div class="container">
    <div class="row product-list-container">
      <div class="col-lg-4">
        <div
          class="card-filter-btn text-center"
          data-toggle="modal"
          data-target="#filterProduct"
        >
          <button class="btn btn-theme btn-block">Filter Product</button>
        </div>
        <div class="card card-filter">
          <div class="card-header d-flex flex-row justify-content-between py-2">
            <h5>Search Filter</h5>
            <a href="{% url 'products' %}">Clear All</a>
          </div>
          <div class="card-body py-3">
            <p class="fs-large">Category</p>
            <ul class="categories">
            {% for category in categories %}
              <li>
                <a href="{% url 'products' %}?category={{category.category}}">{{category.category|title}} <span class="badge"></span></a>
              </li>
            {% endfor %}
            </ul>
          </div>

          <div class="card-body py-3">
            <p class="fs-large">Brand</p>
            <select class="custom-select">
              <option>Choose a brand</option>
              <option value="br-1">Brand 1</option>
              <option value="br-2">Brand 2</option>
              <option value="br-3">Brand 3</option>
            </select>
          </div>

          <div class="card-body py-3">
            <p class="fs-large">Size</p>
            <div
              class="btn-group size-pick"
              data-role="selected"
              data-multiple="yes"
            >
              <button class="btn btn-theme-outline btn-sm select-target">
                XS
              </button>
              <button class="btn btn-theme-outline btn-sm select-target">
                S
              </button>
              <button class="btn btn-theme-outline btn-sm select-target">
                M
              </button>
              <button class="btn btn-theme-outline btn-sm select-target">
                L
              </button>
              <button class="btn btn-theme-outline btn-sm select-target">
                XL
              </button>
            </div>
          </div>

          <div class="card-body py-3">
            <p class="fs-large">Color</p>
            <div class="color-pick" data-role="selected" data-multiple="no">
              <span class="color-item bg-danger select-target"></span>
              <span class="color-item bg-warning select-target"></span>
              <span class="color-item bg-success select-target"></span>
              <span class="color-item bg-primary select-target"></span>
              <span class="color-item bg-dark select-target"></span>
            </div>
          </div>

          <div class="card-body py-3">
            <p class="fs-large">Price Range</p>
            <div class="row">
              <div class="col-6">
                <input type="text" class="form-control" placeholder="Min" />
              </div>
              <div class="col-6">
                <input type="text" class="form-control" placeholder="Max" />
              </div>
            </div>
          </div>

          {% comment %} <div class="card-footer py-3">
            <button class="btn btn-theme-outline btn-block mt-2">
              Update Filter
            </button>
          </div> {% endcomment %}
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row no-gutters align-items-center">
          <div class="col-6">
            <p class="fs-small mb-0 text-secondary">
              Showing {{page_objects}} of {{paginator.count}} items
            </p>
          </div>
          <div class="col-6 text-right">
            <select class="custom-select" style="max-width: 120px">
              <option>Sort By</option>
              <option value="new">Newest</option>
              <option value="best">Best Sellers</option>
              <option value="low">Price Low</option>
              <option value="high">Price High</option>
            </select>
          </div>
        </div>

        <div class="row mt-3">
          {% for product in page_objects %}

          <!-- Modal Product -->
          <div
            class="modal fade"
            id="modalProduct-{{product.id}}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="productLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="icon-close2"></span>
                  </button>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="owl-carousel product-single">
                        <div class="item">
                          <div class="img-place">
                            <img src="{{product.thumbnail.url}}" alt="" />
                          </div>
                        </div>
                        <div class="item">
                          <div class="img-place">
                            <img src="{{product.thumbnail.url}}" alt="" />
                          </div>
                        </div>
                        <div class="item">
                          <div class="img-place">
                            <img src="{{product.thumbnail.url}}" alt="" />
                          </div>
                        </div>
                        <div class="item">
                          <div class="img-place">
                            <img src="{{product.thumbnail.url}}" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <h4 class="modal-title" id="productLabel">
                        {{product.title}}
                      </h4>
                      <div class="ratings text-warning">
                        <span class="icon icon-star"></span>
                        <span class="icon icon-star"></span>
                        <span class="icon icon-star"></span>
                        <span class="icon icon-star"></span>
                        <span class="icon icon-star-o"></span>
                      </div>
                      <p class="mt-3">{{product.detail_preview}}</p>

                      {% if product.availiability %}
                      <p>
                        <span class="fs-large fw-bold">Availability:</span>
                        {{product.availiability}}
                      </p>
                      {% endif %} {% comment %}
                      <p class="fs-large fw-bold mb-1 mt-3">Color:</p>
                      <div class="color-pick">
                        <span class="color-item bg-danger"></span>
                        <span class="color-item bg-warning"></span>
                        <span class="color-item bg-success"></span>
                        <span class="color-item bg-primary"></span>
                        <span class="color-item bg-dark"></span>
                      </div>

                      <p class="fs-large fw-bold mb-1 mt-3">Size:</p>
                      <div class="btn-group btn-group-gap">
                        <button class="btn btn-theme-outline btn-sm">XS</button>
                        <button class="btn btn-theme-outline btn-sm">S</button>
                        <button class="btn btn-theme-outline btn-sm">M</button>
                        <button class="btn btn-theme-outline btn-sm">L</button>
                        <button class="btn btn-theme-outline btn-sm">XL</button>
                      </div>
                      {% endcomment %}

                      <p class="fs-large fw-bold mb-1 mt-3">Quantity:</p>
                      <div class="number-input">
                           <a href="{% url 'decrease' product.id %}" class="btn btn-theme btn-sm btn-decrease"><span class="icon-minus"></span></a>
                    <input type="number" class="form-control" name="number"  value="{{product.quantity}}" min="1" max="250">
                    <a href="{% url 'addtocart' product.id %}" class="btn btn-theme btn-sm btn-increase"><span class="icon-plus"></span></a>
                      </div>

                      <h5 class="mt-4 mb-3">
                        Price:
                        <span class="fg-theme"> GHC{{product.price}} </span>
                      </h5>
                      <a href="{% url 'addtocart' product.id %}" class="btn btn-theme-outline mr-2 my-1"
                        ><span class="icon-add_shopping_cart"></span> Add to
                        Cart</a
                      >
                      <a href="checkout.html" class="btn btn-theme my-1"
                        >Proceed Checkout</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End modal product -->

          <div class="col-sm-6 col-md-4">
            <div class="card card-product">
              <div class="card-header">
                <div
                  class="btn btn-fab btn-sm"
                  data-toggle-class="active"
                  data-toggle="tooltip"
                  data-placement="left"
                  title="Like it"
                >
                  <span class="icon-heart"></span>
                </div>
                <div
                  class="btn btn-fab btn-sm"
                  data-toggle-class="active"
                  data-toggle="tooltip"
                  data-placement="left"
                  title="Add to Cart"
                >
                  <span class="icon-shopping-cart"></span>
                </div>
                <div
                  class="btn btn-fab btn-sm"
                  data-fancybox
                  data-src="{{product.thumbnail.url}} "
                  data-toggle="tooltip"
                  data-placement="left"
                  title="View Image"
                >
                  <span class="icon-fullscreen fs-normal"></span>
                </div>
              </div>
              <div class="card-body">
                <div class="img-place">
                  <img
                    src="{{product.thumbnail.url}}"
                    alt="{{product.title}}"
                  />
                </div>
                <button
                  class="btn btn-theme btn-rounded btn-sm btn-noanimate"
                  data-toggle="modal"
                  data-target="#modalProduct-{{product.id}}"
                >
                  Quick View
                </button>
              </div>
              <div class="card-footer">
                <div class="caption">
                  <a href="{% url 'detail' product.slug %}" class="product-title"
                    >{{product.title}}</a
                  >
                  <p class="fg-theme">GHC{{product.price}}</p>
                </div>
              </div>
            </div>
          </div>

          {% empty %}
          <p> No product found </p>
          {% endfor %}
        </div>

        <nav>
          <ul class="pagination justify-content-end">
          {% if page_objects.has_previous  %}
            <li class="page-item">
              <a href="?page={{page_objects.previous_page_number}}" class="page-link">Previous</a>
            </li>
          {% endif %}
            <li class="page-item">
              <a href="#" class="page-link">{{page_objects.number}}</a>
            </li>
            {% if page_objects.has_next  %}
            <li class="page-item">
              <a href="?page={{page_objects.next_page_number }}" class="page-link">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card card-collection-tiles_2">
          <div class="card-body">
            <div class="img-place">
              <img src="img/image_1.jpg" alt="" />
            </div>
            <div class="caption">
              <h2>Accessories</h2>
            </div>
            <a href="product.html" class="btn btn-link"
              >Shop Now <span class="icon icon-angle-right"></span
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-collection-tiles_2">
          <div class="card-body">
            <div class="img-place">
              <img src="img/image_2.jpg" alt="" />
            </div>
            <div class="caption">
              <h2>Casual Clothes</h2>
            </div>
            <a href="product.html" class="btn btn-link"
              >Shop Now <span class="icon icon-angle-right"></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
